<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="../../styles/customscss/custom-scss.css" />
    <link rel="stylesheet" href="./libraries/fontawesome-free-6.4.0-web/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" />

    <link rel="stylesheet" href="../../libraries/slick/slick-theme.css" />
    <link rel="stylesheet" href="../../libraries/slick/slick.css" />
</head>

<body class="body-header">
    <div class="container">
        <h1>Apps You Use</h1>
  
        <div class="group test">
          <input type="checkbox" id="xd" class="round-input"/>
          <label for="xd" class="round-label">Adobe XD</label>
        </div>
  
       
      </div>


    <script src="../../libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../libraries/fontawesome-free-6.4.0-web/js/all.min.js"></script>
    <script src="../../libraries/jquery/jquery-3.6.4.min.js"></script>

    <script src="../../libraries/slick/slick.min.js"></script>
    <script src="../../js/main.js"></script>
</body>

</html>